{% extends "layouts/base.html" %}

{% block content %}

<div id="wrapper">
    <header>
        <h1>Glen De&nbsp;Cauwsemaecker</h1>
        <h2><strong>Co-Founder</strong> of <a href="https://www.plabayo.tech">Plabayo</a></h2>

        <nav id="site-nav-main">
            <a class="btn" href="https://github.com/glendc/">GitHub</a>
            <a class="btn" href="https://www.linkedin.com/in/glendc/">LinkedIn</a>
        </nav>
    </header>

    <main>
        <article>
            <p>
                <strong>FOSS Hacker</strong>, Mathematics Enthusiast, Networking & Security Nerd and Father.
            </p>
            <p>
                <strong>Principal Security Engineer</strong> @ <a href="https://witness.ai/">Witness AI</a>.
            </p>
            <p>
                <strong>Co-Founder</strong> of <a href="https://www.plabayo.tech">Plabayo</a>,
                a FOSS shop and independent consultancy firm,
                with Education, Privacy and transparency at the core of its mission.
            </p>
            <div class="bullet-points">
                <p class="bullet-points-desc">
                    You can hire me —in limited capacity— as a <strong>Consultant</strong> in regards to:
                </p>
                <div class="bullet-points-list">
                    <div class="bullet-point-item">
                        <div class="bullet-point-mark">
                            🛠️
                        </div>
                        <div class="bullet-point-text">
                            The entire software development cycle;
                        </div>
                    </div>
                    <div class="bullet-point-item">
                        <div class="bullet-point-mark">
                            💻
                        </div>
                        <div class="bullet-point-text">
                            Including, but not only limited to, architecture,
                            prototyping, R&D, technical UX, development, testing, reviewing and debugging;
                        </div>
                    </div>
                    <div class="bullet-point-item">
                        <div class="bullet-point-mark">
                            ⚙️
                        </div>
                        <div class="bullet-point-text">
                            Topics include backend development,
                            data scraping, tooling, automatization, game programming,
                            game engine development, API design and more;
                        </div>
                    </div>
                    <div class="bullet-point-item">
                        <div class="bullet-point-mark">
                            🧰
                        </div>
                        <div class="bullet-point-text">
                            Programming language expertise in Rust, Go and Python,
                            with a background in C++ and comfortable with many other languages;
                        </div>
                    </div>
                    <div class="bullet-point-item">
                        <div class="bullet-point-mark">
                            📜
                        </div>
                        <div class="bullet-point-text">
                            Workshops, classes, mentoring and talks are also possible.
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <footer>
        <p>
            You can reach me by email at <a href="mailto:contact@glendc.com">contact@glendc.com</a>.
        </p>
    </footer>
</div>

{% endblock content %}
